.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18%;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  padding-top: 3.5rem;

  @include df(900) {
    display: flex;
    padding: 0;

  }

  &__item {
    position: relative;

    @include df(900) {
      flex:1;
    }
    &:not(:last-child) {
      margin-bottom: .5rem;
      @include df(900) {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.3rem;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform .4s, width .4s cubic-bezier(1, 0, 0, 1) .2s,
        background-color .1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    color: var(--color-grey-light-1);
    display: flex;
    align-items: center;
    @include df(900) {
      justify-content: center;
      padding: 2rem;
    }
    @include df(575) {
      flex-direction: column;
      padding: 1rem;
      text-align: center;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-light-1);
    margin-right: 2rem;
    @include df(575) {
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: currentColor;
  
  @include df(900) {
    display: none;
  }
}